<!DOCTYPE html>
<html lang="en">
<head th:replace="layout/layout:: head"></head>
<body>

<nav th:replace="layout/layout:: navbar"></nav>

<div class="container mt-5">
    <div class="text-center">
        <h1>Hola, Compañeros</h1>
    </div>
</div>

<div class="container mt-3">
    <div class="text-center">
        <h5>En este espacio encontraras el plan de estudios de la JDC</h5>
    </div>
    <hr class="mx-auto" style="width: 50%;">
</div>

<div class="container mt-3">
    <div class="text-center">
        <h6><em>Esta materia es de 7 semestre y tiene 3 créditos</em>></h6>
    </div>
</div>






</body>
</html>