<!DOCTYPE html>
<html lang="en">
<head th:replace="layout/layout:: head"></head>
<body>

<nav th:replace="layout/layout:: navbar"></nav>

<div class="container mt-5">
    <div class="text-center">
        <h1>Software de Prueba</h1>
    </div>
</div>

<div class="container mt-3">
    <div class="text-center">
        <h20>Procesos CRUD con PostgreSQL y Spring</h20>
    </div>
    <hr class="mx-auto" style="width: 50%;">
</div>

<div class="container mt-3">
    <div class="text-center">
        <h6><em>Elaborado por el grupo de Software II</em></h6>
    </div>
</div>


<div class="container mt-4 mb-4 text-center">
    <div class="row mb-4">
        <div class="col-md-6">
            <div class=" card" style="width: 80%">
                <div class="card-header">
                    <h5 class="card-title">SCRUM</h5>
                </div>
                <div class ="card-body">
                    <p class="card-text">
                        Marco de Trabajo
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class=" card" style="width: 80%">
                <div class="card-header">
                    <h5 class="card-title">IntelliJIDEA</h5>
                </div>
                <div class ="card-body">
                    <p class="card-text">
                        IDE de Desarrollo
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <div class=" card" style="width: 80%">
                <div class="card-header">
                    <h5 class="card-title">Git</h5>
                </div>
                <div class ="card-body">
                    <p class="card-text">
                        Control de Versiones
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class=" card" style="width: 80%">
                <div class="card-header">
                    <h5 class="card-title">ClickUp</h5>
                </div>
                <div class ="card-body">
                    <p class="card-text">
                        Software Gestión de Equipos
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <footer th:replace="layout/layout:: footer"></footer>
    </div>


</div>






</body>
</html>