<!DOCTYPE html>
<html lang="es-es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout:: head"></head>
<body>

<nav th:replace="layout/layout:: navbar"></nav>
<div class="container mt-4">
    <div class ="text-center">

<div>
    <h1>Bienvenido a Desarrollo de Software II</h1>
    <p>Los científicos estudian el mundo tal como es; los ingenieros crean el mundo que nunca ha sido</p>

    <img th:src="@{/images/bootstrap.png}" alt="imag Boo" style="width: 50%; border-radius: 20px">
    </div>
</div>

<div class=" card mt-4" style="width: 100%">
    <div class="card-header">
        Pagina de prueba
    </div>
        <div class ="card-body">
            <h5 class="card-title">Historia JDC</h5>
            <p class="card-text">
                La Fundación Universitaria Juan de Castellanos (JDC) en Tunja, Colombia,
                es una institución católica de educación superior, consolidada a finales
                de los años 80 por iniciativa de la Arquidiócesis, enfocada en la formación
                integral y el impacto social, con presencia nacional y expansión en facultades
                de educación, agrozootecnia e ingeniería desde 2001
            </p>
            <a href="https://www.jdc.edu.co/" class="btn btn-prymary">Visita la Juan</a>
        </div>
</div>
</div>


<div class="container mt-4">
    <footer th:replace="layout/layout:: footer"></footer>
</div>

</body>
</html>